.sider__navbar {
    /* margin-top: 10px; */
}

.ant-card-head {
    padding: 0 20px 10px;
    border-bottom: none;
}

.ant-card-head-title {
    font-size: 14px;
    font-weight: 700;
    padding: 16px 0 0 0;
}

.ant-card-body {
    padding: 0 14px;
}

.sider__nav-icon {
    margin-right: 10px;
}

.sider__nav-content {
    display: flex;
    align-items: center;
    border-radius: 10px ;
    padding: 10px 14px;
    margin: 6px 0;
    color: rgb(163, 163, 163);
    font-weight: 500;
}

.sider__nav-content:hover {
    cursor: pointer;
    background-color: #377DFF;
    color: #fff;
}